# Окружение
venv
myenv

# Логи
*.log

# Данные
*.csv
*.txt
*.png
*.xlsx
*.pyc
*.json
*.pkl

# Лишнее
.DS_Store
.idea/
parse_dataset/utils/__pycache__/
parse_anglicism/utils/__pycache__/

# Outputs
outputs/
assets/models
